In [ ]:
# 1. arithmatic operator:

# "+" ===> use for add two operands
# "-" ===> use for substract 2nd operand with 1st operand
# "*" ===> use for4 muliplications of two operands
# "/" ===> use for division b/w two operands and it's return always quotient as float data type value in result.
# "%" ===> it's return reminder 
# "//" ===> it's return always quotient as int datatype in result.
# "**" ===> it's do multiply

In [2]:
print(10/3)
print(10/2) #(always retuns float type quotient)

3.3333333333333335
5.0

In [5]:
print(10//3) #(always returns int type quotient)
print(10//2)

3
5

In [6]:
print(10%2) #(always return reminder)

# 9243232121(ignore)

0

In [11]:
print(10**2)

100
dkdk

In [15]:
# multiplication:
# note:(for str type)
print(2*'dk')
print('dk'*2)

# 1. case-1st
# error : if want to multiply str with non-int form like flot and other
print(2.0*'dk') 
# TypeError: can't multiply sequence by non-int of type 'float'

dkdk
dkdk

TypeError: can't multiply sequence by non-int of type 'float'

In [16]:
# 2. case-2nd
# if we want to multiply str with str type then TypeError

print('dk'*'dk')
# TypeError: can't multiply sequence by non-int of type 'str'

TypeError: can't multiply sequence by non-int of type 'str'

In [18]:
#for str concatination use '+' symbol b/w operand
# str concatination possible when both operand are str type 
print('dk'+"dk")

# Error Case:
print('dk'+1) #(here we are try to concatinate with non-str type)
# TypeError: can only concatenate str (not "int") to str

dkdk

TypeError: can only concatenate str (not "int") to str